#File dove vanno indicati i file da non caricare su gitbub.
#Per indicazioni sul suo funzionamento rimandiamo a https://help.github.com/articles/ignoring-files/

.idea
.DS_Store
*/.DS_Store
/www_src/forum_src/cache/