.controls {
    display: inline-block;
    margin: 0 0 30px;
    vertical-align: top;
}

.controls li {
    margin-left: 20px;
    cursor: pointer;
}

.controls li.active {
    font-weight: 700;
}

#Grid {
    width: 100%;
    text-align: justify;
    font-size: 0.1px;
}

#Grid:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.mixitup-wrapper {
    margin-bottom: 10px;
}

#Grid .mix {
    display: none;
    opacity: 0;
    word-break: normal;
    vertical-align: top;
    margin-bottom: 20px;
    color: #797070;
    font-size: 14px;
    text-align: center;
}

#Grid .gap {
    display: inline-block;
    width: 200px;
}

#Grid ul {
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}