.col-lg-12 {
	width: 100%;
}

.col-lg-12 h1 {
	clear: both;
	text-align: justify;
}


.col-lg-12 p {
	text-align: justify;
}

.img-sx, .img-dx {
	max-width: 250px;
	padding-bottom:5px;
}

@media screen and (min-width: 400px) {
	.img-sx {
		float:left; 
		padding-right:10px; 
	}

	.img-dx {
		float:right; 
		padding-left:10px; 
	}

@media screen and (min-width: 992px) {
	.img-sx, .img-dx {
		float:left; 
		padding-left:0px;
		padding-right:10px; 
	}

	#left {
		clear: left;
		width:48%;
		float:left;
	}

	#right {
		clear: right;
		width:48%;
		float:right;
	}
}