table.dashboard {
    width: 100%;
}

table.dashboard th {
    color: #fff;
    background-color: #232323;	
    padding: 10px;	
    text-align: center;
}

table.dashboard td {
    padding: 10px;	
    text-align: center;
}
