html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px;
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }

    #menu_footer > li {
        padding-left: 0;
        text-align: left;
    }
}

@media (min-width: 768px) {

    #menu_footer > li {
        padding-left: 40%;
        text-align: left;
    }

}

.logo {
    height: 50px;
    width: 200px;
}

/* Fritz */

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: grey;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: grey;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Fritz2 */
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

#portfolio * {
    z-index: 2;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
   /* background: none repeat scroll 0 0 rgba(255, 0, 226, 0.63); /* colore hover */
    transition: all 0.5s ease 0s;
}

@media (min-width: 768px){
    #portfolio .portfolio-item .portfolio-link:hover .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 10;
        background: none repeat scroll 0 0 rgba(255, 138, 233, 0.84); /* colore hover */
        transition: all 0.5s ease 0s;
    }
}

@media (max-width: 768px){
        #portfolio .portfolio-item .portfolio-link:hover .caption {
            position: absolute;
            width: 320px;
            height: 100%;
            opacity: 10;
            background: none repeat scroll 0 0 rgba(255, 138, 233, 0.84); /* colore hover */
            transition: all 0.5s ease 0s;

        }
    }

@media (max-width: 423px){
        #portfolio .portfolio-item .portfolio-link:hover .caption {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 10;
            background: none repeat scroll 0 0 rgba(255, 138, 233, 0.84); /* colore hover */
            transition: all 0.5s ease 0s;

        }
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item {
    margin: 30px 0 30px;
}

.img-centered {
    margin: 0 auto;
}

#logo_pari_opportunita {
    height: 100%;
    width: 100%;
}

#logo_unive_quadrato {
    width: 80%;
    margin-top: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.no_border {
    border: 0;
}

.white {
    background-color: white;
}
.testo-home {
    font-size: 18px;
}
.align-center {
    text-align: center;
    font-weight: 900;
}
