.col-lg-12 {
    text-align: justify;
}

.col-lg-12 h1 {
    clear: both;
}

.img-sx {
    float: left;
    padding-right: 100px;
    padding-bottom: 10px;
    max-height: 450px;
    max-width: 350px;
}

@media screen and (min-width: 992px) {
    .img-sx, .img-dx {
        float: left;
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #left {
        clear: left;
        width: 48%;
        float: left;
    }

    #right {
        clear: right;
        width: 48%;
        float: right;
    }
}

.img-responsive {
    max-height: 400px;
    max-width: 300px;
}

.element {
    position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.twitter:before {
    content: "\f099";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}